chatbot2.py
chatbot3.py
model-01.pkl
model-02.pkl
model-03.pkl
model-wiki-01.pkl
model-wiki-02.pkl
model-wiki-03.pkl
model-wiki-04.pkl
model-wiki-10.pkl
model-wiki.pkl
test.txt
torchfun.ipynb
train_split_cleaned.txt
train_wiki_cleaned.txt
train_wiki.txt
val_split_cleaned.txt
val_wiki_cleaned.txt
val_wiki.txt
vocab_cleaned.txt
vocab_wiki_cleaned.txt
vocab_wiki.txt
wiz_of_oz.txt

training.py

.ipynb_checkpoints